/*  your css code here. If applicable */
  
table {
    border-collapse: separate;
    background-color: yellow;
    border: 2px solid black;

	text-align: left
}
.div{
	/* border: 2px solid red
	/* width : fill-box */
}
/* h1{
size: 10px
} */
th, td {
	
    border: 2px solid black;
}